{% extends "base.html" %}

{% block content %}

    <div class="box">  
        <br>
        <br>
        <br>
        <h1 style="text-align:center">Muzyka</h1>
        <br>
        <br>
        <form style="text-align:center" action="" method="post">
        
            {{ form.csrf_token() }}
                
            <h5><b>{{form.music_link.label}}</b></h5>
            <p>{{form.music_link}}</p>
                
            <p>{{form.button}}</p>

        </form>
    </div>

{% endblock %}
